<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if post %}
    {{ post.id }}
    {{ post.title }} <br/>
    <a href="/board/listGet">목록</a>
    <!--작성자와 로그인 한 유저가 일치해야만 수정, 삭제 버튼이 보이도록 함 -->
    {% if post.writer == request.user %}
    <a href="/board/update/{{post.id}}">수정</a>
    <a href="/board/deleteGet/{{post.id}}">삭제</a>
    {% endif %}
<form action="/reply/create/{{post.id}}" method="post">
  {% csrf_token %}
  {{ replyForm }}
    <button>댓글달기</button>
</form>

{% for reply in post.reply_set.all %}
    {{ reply.contents }} <br>
{% endfor %}

{% endif %}

<br/>
댓글 입력 창 <br/>



</body>
</html>